.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.unit-select-options {
  width: 50%;
  margin-left: 25%;
  text-align: center;

}

.unit-select-option {
  display: inline-block;

}

.error-msg {
  color: red;
  font-style: bold;
}

.display-map {
  width: 75%;
  height: 500px;
  display: inline-block;
}

.vendor-view-container {
  width: 25%;
  height: 500px;
  overflow: scroll;
  display: inline-block;
}

/* TODO: decide on better variable name...?*/
.map-and-vendors-container {
  width: 80%;
  margin-left: 10%;
  border: 1px solid black;
}

.submit-button {
  width: 90%;
  min-height: 50px;
  height: 2.5vw;
  background-color: blue;
  color: white;
  border: none;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
  border-radius: 5px;
}

.submit-button:hover {
  cursor: pointer;
  background-color: #7799ff;
}

.input-latlng {
  display: inline-block;
  text-align: left;
  margin: 1vw;
}

.input-latlng input {
  display: block;
  border-radius: 30px;
  border: 1px solid #00000088;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.input-search-radius {
  display: flex;
  justify-content: center;
}
.input-search-radius input {
  margin-left: 5px;
  margin-right: 5px;
}

.divider {
  height: 1px;
  border-bottom: 1px solid #00000088;
  margin-top: 4px;
  margin-bottom: 5px;
}