.App {
  text-align: center;
}

header div {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

header img {
  margin: 1%;
  max-height: 100px;
  aspect-ratio: 2;
  display: inline-block;
}

header h1 {
  text-align: center;
  display: inline-block;
}


.unit-select-options {
  width: 50%;
  margin-left: 25%;
  text-align: center;

}

.unit-select-option {
  display: inline-block;

}

.error-msg {
  color: red;
  font-style: bold;
}

.map-and-vendors-container {
  width: 96%;
  margin: 2%;
  border: 1px solid black;
  display: flex;
  align-items: top;
}

.side-pane {
  width: 21%;
  height: 70vh;
  display: inline-block;
  padding: 2%;
}

.display-map {
  width: 75%;
  height: 70vh;
  display: inline-block;
}



@media only screen and (max-width:900px) {
  .map-and-vendors-container {
    display: inline-block;
  }

  .side-pane {
    width: 100%;
    height: 100%;
    display: block;
    position: inherit;
  }

  .display-map {
    width: 100%;
    display: block;
    position: relative;
  }


  
}

.input-pane {
  display: inline-block;
  height: 100%;
}

.options {
  /* bottom: 100%; */
}

.status-pane {
  display: inline-block;
}

.vendor-view-container {
  height: 60vh;
  overflow: scroll;
}


.submit-button {
  width: 90%;
  min-height: 50px;
  height: 2.5vw;
  background-color: #e2630f;
  color: white;
  font-size: 2vw;
  border: none;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
  border-radius: 5px;
}

.submit-button:hover {
  cursor: pointer;
  background-color: #ec821e;
}

.new-search-button-container {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
}

.new-search-button {
  width: 100%;
}

.input-latlng {
  display: inline-block;
  text-align: left;
  margin: 1vw;
}

.input-latlng input {
  display: block;
  border-radius: 30px;
  border: 1px solid #00000088;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.input-search-radius {
  justify-content: center;
}

.divider {
  height: 1px;
  border-bottom: 1px solid #00000088;
  margin-top: 4px;
  margin-bottom: 5px;
}

.popup-inner-div {
  text-align: center;
}

.secondary-button {
  background-color: #ffa947;
  color: black;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding-top: 0.25vw;
  padding-bottom: 0.25vw;
  margin-top: 0.25vw;
  margin-bottom: 0.25vw;
  transition: background-color 0.25s;
}
.secondary-button:hover {
  cursor: pointer;
  background-color: #ffc219;
}
.secondary-button:disabled {
  cursor: not-allowed;
  background-color: #bdbdbd;
  color: #808080
}

.tertiary-button {
  background-color: transparent;
  border: 2px solid black;
  color: black;
  width: 100%;
  border-radius: 5px;
  padding-top: 0.25vw;
  padding-bottom: 0.25vw;
  margin-top: 0.25vw;
  margin-bottom: 0.25vw; 
  transition: color 0.25s, border 0.25s ;
}
.tertiary-button:hover {
  cursor: pointer;
  border: 2px solid #ffa947;
  color: #ffa947;
}

